.first-grid{
    background: url('./assets/desktop/image-header.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.apple{
    position: relative;
    background: url('./assets/desktop/image-graphic-design.jpg');
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: 600px;
    
}
.orange{
    position: relative;
    background: url('./assets/desktop/image-photography.jpg');
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: 600px;
}
.dis{
    background: rgb(79, 190, 255);
    display: inline-block;
    width: 100%;
    border-top: solid 20px transparent;
    border-right: solid 10px white;
}
@media screen and (max-width: 800px ) {
    .apple{
        position: relative;
        background: url('./assets/desktop/image-graphic-design.jpg');
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        height: 400px;
        
    }
    .orange{
        position: relative;
        background: url('./assets/desktop/image-photography.jpg');
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        height: 400px;
    }
}
@media screen and (max-width: 600px ) {
    .first-grid{
    background: url('./assets/mobile/image-header.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    }

    .apple{
    position: relative;
    background: url('./assets/desktop/image-graphic-design.jpg');
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: 400px;
    
}
.orange{
    position: relative;
    background: url('./assets/desktop/image-photography.jpg');
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: 400px;
}
}